<%-include("../admin/layouts/header.ejs") %>

<section class="col-lg-8 pt-lg-4 pb-4 mb-3">

<div class="container-fluid d-flex justify-content-center align-items-center " style="height: 100%; width: 100%;margin-right: 10%;">
    <div class="col-md-6 pt-4 mt-3 mt-md-0  me-5" style="width: 100%;">
        <h2 class="h4 mb-3 d-flex justify-content-center">Edit product detailes</h2>
        <form action="/admin/editproduct?id=<%=productDatas._id%>" method="post" enctype="multipart/form-data" style="margin-left: 50px; margin-right: 50px;" >
            <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input class="form-control" type="text" name="product" value="<%=productDatas.product%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input class="form-control" type="text" name="description" value="<%=productDatas.description %>"  required>
            </div>

      
    
            <div class="mb-3" >
            
                <label class="form-label">Category</label>
                <select name="categoryName" class="me-10">
                  <option value="<%=productDatas.category._id%>"><%=productDatas.category.categoryname%></option>
                    <%categoryDatas.forEach((categoryDatas,i)=>{%>
                        <option value="<%=categoryDatas._id%>"><%=categoryDatas.categoryname%></option>
                     <%}); %>
                </select>
                <a href="/admin/editImage?id=<%=productDatas._id%>" style=" color: rgb(26, 96, 202);" class="btn" >Click here to edit image</a>
            </div>
            
            <input name="id" value="<%=productDatas._id%>" hidden>
            <!-- <div class="mb-3">
                <label class="form-label">Image</label>
                <img src="/images/< %=productDatas.image[0]%>" id="imgView" style="width: 120px; height: auto;">
                <input class="form-control" type="file" name="image" value="< %=productDatas.image[0]%>" accept="image/*" multiple  required>
            </div>        -->
            <div class="mb-3">
                <label class="form-label">stock</label>
                <input type="text" name="stock" value="<%=productDatas.stock %>" min="0" max="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>Status</label>
                <select name="status" id="stockstatus">
                <option value=""><%=productDatas.status %> </option>
                <option value="Available">active </option>
                <option value="Out of stock">expired </option>
                </select>           
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input class="form-control" type="number" name="price" value="<%=productDatas.price%>" required>
            </div>

           

           
            <div class="col-12 d-flex mt-4" style="justify-content: flex-end; margin-bottom: 20px;">
                <button class="btn btn-danger " style="width: 100px;margin-left: 28rem;" type="reset">Reset</button>
                <button class="btn btn-success" style="width: 100px;margin-left: 12px;" type="submit">Submit</button>
            </div>

            <div id="notify">
            <%if(typeof message !=="undefined"){ %>
                <p style="color: green;"><%=message %></p>
            <% }if(typeof errormessage!=="undefined"){ %>
                <p style="color: rgb(158, 46, 31);"><%=errormessage%></p>
            <% } %>

            </div>
        </form>
    </div>

</div>

</section>



<script>
    setTimeout(()=>{
        document.getElementById("notify").remove()
    },3000)
</script>


