<%-include("../admin/layouts/header.ejs") %>

<section class="col-lg-9 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
      <div class="container-fluid" style="display: flex; justify-content: space-between;">
      <p class="h3 pt-2 pb-4 mb-1 " style="font-family:Arial, Helvetica, sans-serif">Sales Management</p>
      </div>

      <form action="/admin/export" method="post">
        From &nbsp;: &nbsp;<input type="date" name="start" id="startingDate"><br><br>
        To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;<input type="date" name="end" id="endingDate"><br><br>
        <button class="btn btn-success btn-shadow btn-sm mb-4 ms-3" onclick="salesReport()">Submit</button>
        <div class="table-responsive" >
          <table>
            <thead id="salesReport" hidden></thead>
            <tbody id="salesBody" hidden></tbody>
            <div id="submit"></div>
          </table>
        </div>
      </form>

      <div class="table-responsive" >
      <table id="example" class=" table display nowrap" style="width:100%">
      <!-- <div class="container-fluid"><a  href="/admin/addproduct" class="btn btn-success mb-3 btn-sm d-flex align-items-center justify-content-center" style="width: 70px;height: 30px; font-size: 10px;">Add Product</a></div> -->
        <thead>
          <tr>
            <th scope="col" style="font-size:small;">SI.no:</th>
            <th scope="col" style="font-size:small;">Date</th>
            <th scope="col" style="font-size:small;">Order ID</th>
            <th scope="col" style="font-size:small;">Customer</th>
            <th scope="col" style="font-size:small;">Delivered Address</th>
            <th scope="col" style="font-size:small;">Amount</th>
            <th scope="col" style="font-size:small;">Payment method</th>
         
          </tr>
        </thead>
        <tbody class="x">
        <% orderDatas.forEach((element,i) => {%>
            <tr>
              <td><small><%=i+1 %></small></td>
              <td><small><%=element.date.toLocaleString() %></small></td>
              <td><small><%=element._id %></small></td>
              <td><small><%=element.address.name %></small></td>
              <td>
                  <p><small><b> <%=element.address.name%>
                  </b></small>
                  <small>-<%=element.address.phone %></small>
                  <p><small><%=element.address.houseName%>(H),</small></p>
                  <p><small><%=element.address.city +',' +element.address.distrit+','+element.address.pin%>&nbsp;(pin)</small></p>
              </td>
              <td><small><%=element.totalprice %></small></td>
              <td><small><%=element.paymentMethod%></small></td>
            </tr>
          
        <%}); %>
      </tbody>
      
      </table>
    </div>
    </div>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
             'excel'
        ]
    } );
    
    } ); 

    function salesReport() {
        event.preventDefault()
        const start = document.getElementById('startingDate').value
        const end = document.getElementById('endingDate').value
        $.ajax({
            url: '/admin/salesFilter',
            data: {
                start: start,
                end: end
            },
            method: 'POST',
            success: (response) => {
                if (response.orderData) {
                    let html = '';
                    document.getElementById('salesReport').innerHTML = `<thead>
                      <tr>
                        <th scope="col" style="font-size:small;">Date</th>
                        <th scope="col" style="font-size:small;">Order ID</th>
                        <th scope="col" style="font-size:small;">Customer</th>
                        <th scope="col" style="font-size:small;">Amount</th>
                        <th scope="col" style="font-size:small;">Payment method</th>
                    
                      </tr>
                            </thead>`
                    for (let i = 0; i < response.orderData.length; i++) {
                        html += `
                                    <tr>
                                        <td name="date">
                                            ${response.orderData[i].date}
                                        </td>
                                        <td name="id">
                                            ${response.orderData[i]._id}
                                        </td>
                                        <td>
                                            ${response.orderData[i].address.name}
                                        </td>
                                        <td>
                                            ${response.orderData[i].totalprice}
                                        </td>
                                        <td>
                                            ${response.orderData[i].paymentMethod}
                                        </td>
                                    </tr>
                                    
                            `
                    }
                    document.getElementById('salesBody').innerHTML = html
                    document.getElementById('submit').innerHTML = `<td><button type="submit" id="button" class="btn btn-warning btn-shadow btn-sm mb-4 ms-3">
                                                                  <i class="ci-file-spreadsheet fs-xs me-2"></i>Download Excel Report</button>
</td>`


                }
            }
        })
    }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
</section>