<%-include("../user/layouts/header.ejs")%>
<%-include("../user/layouts/personal-header.ejs")%>


         <section class="col-lg-8">
                <!-- address page --> 
                <div class="bg-light rounded-3 p-4 ">
                    <center><h5 style="color: rgb(120, 20, 11);">Address</h5></center><br>
                    <% if (userDatas.address.length!=0) {%>
              
                 <div class="d-flex justify-content-end"> <a type="button" href="/createaddress" class="btn btn-success btn-sm d-flex align-items-center justify-content-center"
                     style="width: 70px;height: 25px; font-size: 10px;">Add Address </a> </div>  
                <table class="table table-hover mb-10">
                    
                    <thead>
                    <tr>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%userDatas.address.forEach((val)=>{%>
                    <tr>
                        <td class="py-3 align-middle">
                            <p id="p"><small><b> <%=val.name%>
                        </b></small>
                        <small>-<%=val.phone %></small>
                        <p><small><%=val.houseName%>(H),</small></p>
                        <p><small><%=val.city +',' +val.distrit+','+val.pin%>&nbsp;(pin)</small></p>
                        </td>
                        <td  class="py-3 align-middle">
                        <form action="/dropAddress/<%= val._id %>" method="post">
                            <button class="btn bg-faded-danger btn-icon" type="submit" data-bs-toggle="tooltip" title="Delete"><i class="ci-trash text-danger"></i></button>
                        </form><br>
                        <a class="btn bg-faded-accent btn-icon" href="/editaddress?id=<%=val._id%>" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit text-accent"></i></a>
                    </td>
                    </tr>   
                    <% }) %>
                    </tbody>
                </table>
                          
                <%}else{ %>
                    <div class="d-flex justify-content-center align-items-center mt-10">
                    <a type="button" href="/createaddress" class="btn btn-success   " title="click here to add address">Add Address</a>
                    </div>
                    <% } %>
            </div>
                </section>
            </div>
        </div>  
</div>

<%-include("../user/layouts/footer.ejs")%>