<%- include('../user/layouts/header.ejs') %>

 <!-- Page Title-->
 <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">Shop</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <aside class="col-lg-4">
        <!-- Sidebar-->
        <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar" style="max-width: 22rem;">
          <div class="offcanvas-header align-items-center shadow-sm">
            <h2 class="h5 mb-0">Filters</h2>
            <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
            <h6><small> Sort by Price:</small></h6>
              <select class="form-select " id="sorting" >
                <option id="category_id" onclick="price('low','category_id')"  value="Low to high">Low to high</option>
                <option id="category_id" value="High to low" onclick="price('high','category_id')">High to low</option>
              </select><br>
            <!-- Categories-->
            <div class="widget widget-categories mb-4 pb-4 border-bottom">
  
              <div class="accordion mt-n1" id="shop-categories">

                <div class="accordion-item pb-3">
                  <a href="#productz" role="button" data-bs-toggle="collapse" style="color: rgb(31, 31, 54);" aria-expanded="true" aria-controls="productz">Categories</a>
                   <div id="productz" data-bs-parent="#shop-categories"> 
                     <div class="accordion-body">
                        <div class="widget widget-links widget-filter">
                        
                         <ul class="widget-list widget-filter-list pt-1 ps-2 " style="height: 10rem;" data-simplebar data-simplebar-auto-hide="false">
                          <li style="list-style: none; " class="ps-2 "><small><a style="color:rgb(91, 94, 96) " href="/shop">All categories</a></small></li>
                          <% if (categoryData) {
                            for (let i = 0; i < categoryData.length; i++) { %>
                              <li style="list-style: none; " class="ps-2">
                                <small>
                                  <a style="color:rgb(91, 94, 96)"  onclick="category('<%= categoryData[i]._id %>')" ><%= categoryData[i].categoryname %></a>
                                </small>  
                              </li>          
                              <% } %>
                          <% } else { %>
                            <small>Product not found</small>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </aside>



      <!-- Content  -->
      <section class="col-lg-8">

        <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
          <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
              <div class="input-group d-lg-flex ">
                <input class="form-control rounded-end pe-5" name="search" id="searchField" type="text" placeholder="Search for products"><i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-base me-3"></i>
              </div>
            </div>
          </div>

              <script>
                const price = function (id,caid) {
                  console.log('data is coming ------');
                  $.ajax({
                url:"/priceOrder",
                  method:'post',
                    data:{
                      id:id,
                      page:page
                    },success:(response=>{})
                            
                })
              }
                
                </script>
          
        </div>
        <div class="row mx-n2" id="hidden">
     
          <% productDatas.forEach(element => {%>
            <div class="col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">

              <%if (userSession) {%>
                <% if (JSON.stringify(wishId).includes(element._id)){ %>
              <button class="btn-wishlist btn-sm" onclick="addToWishlist('<%=element._id%>', this)">
                <i class="ci-heart-filled text-danger"></i>
              </button>
              <% } else { %>
              <button class="btn-wishlist btn-sm" onclick="addToWishlist('<%=element._id%>', this)">
                <i class="ci-heart"></i>
              </button>
              <%}%>

              <%} else {%>
                <a class="btn-wishlist btn-sm" href="/login">
                <i class="ci-heart"></i>
              </a>
              <%}%>
              
                <a class="card-img-top d-block overflow-hidden pt-5" style="height: 19rem;" href="/productdetailes?id=<%=element._id%>"><img  width="250" height="250" src="/images/<%=element.image[0] %>" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#"><%=element.category.categoryname %></a>
                <h3 class="product-title fs-sm overflow-hidden" style="height: 1rem;" ><a  href="/productdetailes?id=<%=element._id%>" ><%=element.product%></a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price"><span class="text-accent"><small>Rs.</small><%=element.price%>/-</span></div>
                </div>
              </div>
              <div class="card-body">
                <%if (userSession) {%>
                <a class="btn btn-secondary btn-sm d-block w-100 mb-2" onclick="addCart('<%=element._id %>')" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</a>
                <%} else {%>
                <a class="btn btn-secondary btn-sm d-block w-100 mb-2" href="/login" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</a>
                <%}%>
              </div>
            </div>
            <hr class="d-sm-none">
          </div>
          <%}); %>
        </div>    
                    <div class="d-flex justify-content-start row mx-n2 pb-5" id="products-products"></div>
                    <hr class="d-sm-none">


                  
          <nav hidden class="d-flex justify-content-between pt-2" aria-label="Page navigation">
          <ul hidden class="pagination">
            <% if (currentPage == 1) { %>
              <li class="page-item"><a class="page-link"><i class="ci-arrow-left me-2"></i>Prev</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" onclick="category('<%= currentPage-1 %>')" ><i class="ci-arrow-left me-2"></i>Prev</a></li>
            <% } %>
          </ul>
          <ul hidden class="pagination">
            <li class="page-item d-sm-none"><span class="page-link page-link-static"><%= currentPage %> / <%= Math.ceil(totalPages) %></span></li>
            <% for (let i = 1; i <= Math.ceil(totalPages); i++) { %>
              <% if (i == currentPage) { %>
                <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link"><%= i %><span class="visually-hidden">(current)</span></span></li>
              <% } else { %>
                <li class="page-item d-none d-sm-block"><a class="page-link"  onclick="category('<%= i %>')" ><%= i %></a></li>
              <% } %>
            <% } %>
          </ul>
          <ul hidden class="pagination">
            <% if (currentPage == totalPages) { %>
            <li class="page-item"><a class="page-link" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
              <% } else { %>
            <li class="page-item"><a class="page-link"  onclick="category('<%= currentPage-1 %>')"  aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
              <% } %>
          </ul>
        </nav>
      </section>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>

  // script for wishlist

  function addToWishlist(proId, button){
    
    $.ajax({

        url : '/addwish/'+proId,
        method : 'post',
        success : (response) => {

            if(response.added){
              $(button).find('.ci-heart').removeClass('ci-heart').addClass('ci-heart-filled text-danger');
            }
            if(response.exists){
              $(button).find('.ci-heart-filled').removeClass('ci-heart-filled text-danger').addClass('ci-heart');
            }

        }

  })

    }

let searchValue;
const searchInput = document.querySelector('#searchField')
searchInput.addEventListener('input', (event) => {
  event.preventDefault()
  const search = event.target.value
  searchValue = search
  toAjax()
})

        function toAjax(){
          $.ajax({
              url:"/search",
              method:'get',
              data:{
                search: searchValue,
                isRender: "true"
              },success:(response=>{
                console.log(response.product)
                let products = document.getElementById('products-products')
              $('#hidden').hide()
              if (response.wishId) {
            
                products.innerHTML = null;
                response.product.forEach(element => {
            products.innerHTML += `
              <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="card product-card">
                  ${JSON.stringify(response.wishId).includes(element._id) ? 
                  `<button class="btn-wishlist btn-sm" onclick="addToWishlist('${element._id}', this)">
                    <i class="ci-heart-filled text-danger"></i>
                  </button>` :
                  `<button class="btn-wishlist btn-sm" onclick="addToWishlist('${element._id}', this)">
                    <i class="ci-heart"></i>
                  </button>`}
                    
                    <a class="card-img-top d-block overflow-hidden pt-5" style="height: 19rem;"  href="/productdetailes?id=${element._id}"><img  width="250" height="250" src="/images/${element.image[0]}" alt="Product"></a>
                    <div class="card-body py-2">
                      <a class="product-meta d-block fs-xs pb-1" href="#">${element.category.categoryname}</a>
                      <h3 class="product-title fs-sm overflow-hidden" style="height: 1rem;" ><a href="">${element.product}</a></h3>
                      <div class="d-flex justify-content-between">
                        <div class="product-price"><span class="text-accent"><small>Rs.</small>${element.price}/-</span></div>
                        <div class="product-heart"><a href="#" class="heart-icon"></a></div>
                      </div>
                    </div>
                    <div class="card-body card-body-hidden">
                      <a class="btn btn-primary btn-sm d-block w-100 mb-2" onclick="addCart('${element._id}')" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</a>
                    </div>
                
                </div>
              </div>
              <hr class="d-sm-none">
            </div>
            `;

            // Add click event listener to heart icon
            const heartIcon = products.querySelector('.heart-icon');
            heartIcon.addEventListener('click', () => {
              heartIcon.classList.toggle('filled');
            });
          });
              }else{
                products.innerHTML = null;
                response.product.forEach(element => {
            products.innerHTML += `
              <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="card product-card">
                  <a class="btn-wishlist btn-sm" href="/login">
                          <i class="ci-heart"></i>
                    <a class="card-img-top d-block overflow-hidden pt-5" style="height: 19rem;"  href="/productdetailes?id=${element._id}"><img  width="250" height="250"  src="/images/${element.image[0]}" alt="Product"></a>
                    <div class="card-body py-2">
                      <a class="product-meta d-block fs-xs pb-1" href="#">${element.category.categoryname}</a>
                      <h3 class="product-title fs-sm overflow-hidden" style="height: 1rem;" ><a href="">${element.product}</a></h3>
                      <div class="d-flex justify-content-between">
                        <div class="product-price"><span class="text-accent"><small>Rs.</small>${element.price}/-</span></div>
                        <div class="product-heart"><a href="#" class="heart-icon"></a></div>
                      </div>
                    </div>
                    <div class="card-body card-body-hidden">
                      <a class="btn btn-primary btn-sm d-block w-100 mb-2" href="/login" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</a>
                    </div>
                
                </div>
              </div>
              <hr class="d-sm-none">
            </div>
            `;


          });
              }
                        })
        }).then((data)=>{

        })
      }




    function category(id,page){
      console.log('------------------entering------');
  $.ajax({
    url:"/category",
    method:'post',
    data:{
      id:id,
      page:page,
      
    },success:(response=>{

      $('#category_id').val(response.category._id)

      let products = document.getElementById('products-products')
     $('#hidden').hide()
     if (response.wishId) {
   
      products.innerHTML = null;
      response.productDatas.forEach(element => {
  products.innerHTML += `
    <div class="col-md-4 col-sm-6 px-2 mb-4">
      <div class="card product-card">
        ${JSON.stringify(response.wishId).includes(element._id) ? 
        `<button class="btn-wishlist btn-sm" onclick="addToWishlist('${element._id}', this)">
           <i class="ci-heart-filled text-danger"></i>
         </button>` :
        `<button class="btn-wishlist btn-sm" onclick="addToWishlist('${element._id}', this)">
           <i class="ci-heart"></i>
         </button>`}
          
          <a class="card-img-top d-block overflow-hidden pt-5" style="height: 19rem;"  href="/productdetailes?id=${element._id}"><img  width="250" height="250" src="/images/${element.image[0]}" alt="Product"></a>
          <div class="card-body py-2">
            <a class="product-meta d-block fs-xs pb-1" href="#">${element.category.categoryname}</a>
            <h3 class="product-title fs-sm overflow-hidden" style="height:1rem;" ><a href="">${element.product}</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent"><small>Rs.</small>${element.price}/-</span></div>
              <div class="product-heart"><a href="#" class="heart-icon"></a></div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <a class="btn btn-primary btn-sm d-block w-100 mb-2" onclick="addCart('${element._id}')" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</a>
          </div>
       
      </div>
    </div>
    <hr class="d-sm-none">
  </div>
  `;

  // Add click event listener to heart icon
  const heartIcon = products.querySelector('.heart-icon');
  heartIcon.addEventListener('click', () => {
    heartIcon.classList.toggle('filled');
  });
});
     }else{
      products.innerHTML = null;
      response.productDatas.forEach(element => {
  products.innerHTML += `
    <div class="col-md-4 col-sm-6 px-2 mb-4">
      <div class="card product-card">
        <a class="btn-wishlist btn-sm" href="/login">
                <i class="ci-heart"></i>
          <a class="card-img-top d-block overflow-hidden pt-5" style="height: 19rem;"  href="/productdetailes?id=${element._id}"><img  width="250" height="250"  src="/images/${element.image[0]}" alt="Product"></a>
          <div class="card-body py-2">
            <a class="product-meta d-block fs-xs pb-1" href="#">${element.category.categoryname}</a>
            <h3 class="product-title fs-sm overflow-hidden" style="height: 1rem;" ><a href="">${element.product}</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent"><small>Rs.</small>${element.price}/-</span></div>
              <div class="product-heart"><a href="#" class="heart-icon"></a></div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <a class="btn btn-primary btn-sm d-block w-100 mb-2" href="/login" type="button"><i class="ci-cart fs-sm me-1"></i>Add to Cart</a>
          </div>
       
      </div>
    </div>
    <hr class="d-sm-none">
  </div>
  `;


});
     }
     


    })
  }).then((data)=>{

  })


}

// script for add product to cart


  function addCart(id){
 axios.get(`/addcart?id=${id}`).then((response)=>{
   if(response.data.status){
     const Toast = Swal.mixin({
   toast: true,
   position: 'top-end',
   showConfirmButton: false,
   timer: 3000,
   timerProgressBar: true,
   didOpen: (toast) => {
     toast.addEventListener('mouseenter', Swal.stopTimer)
     toast.addEventListener('mouseleave', Swal.resumeTimer)
   }
 })
 
 Toast.fire({
   icon: 'success',
   title: 'Added to Cart'
 })
   }else{
     const Toast = Swal.mixin({
   toast: true,
   position: 'top-end',
   showConfirmButton: false,
   timer: 4000,
   timerProgressBar: true,
   didOpen: (toast) => {
     toast.addEventListener('mouseenter', Swal.stopTimer)
     toast.addEventListener('mouseleave', Swal.resumeTimer)
   }
 })
 
 Toast.fire({
   icon: 'error',
   title: 'You already added this product'
 }) 
   }
 })                    
   }

 </script>

 <!-- search -->
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="js/theme.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<%- include('../user/layouts/footer.ejs') %>
<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100">
      <a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#shop-sidebar"><span class="handheld-toolbar-icon"><i class="ci-filter-alt"></i></span><span class="handheld-toolbar-label">Filters</span></a>
      <a class="d-table-cell handheld-toolbar-item" href="/wishlist"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a>
      <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a>
      <a class="d-table-cell handheld-toolbar-item" href="/cart"><span class="handheld-toolbar-icon"><i class="ci-cart"></i></span><span class="handheld-toolbar-label">Cart</span></a></div>
  </div>