<%- include('../user/layouts/header.ejs') %>

<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
      <h1 class="h3 text-light mb-0">Checkout</h1>
    </div>
  </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
  <div class="row">
    <aside class="col-lg-4">
      <!-- Sidebar-->
      <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar" style="max-width: 22rem;">
        <div class="offcanvas-header align-items-center shadow-sm">
          <h2 class="h5 mb-0">Total price</h2>
          <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
          <div class="widget widget-categories mb-4 pb-4 border-bottom">

            <div class="accordion" id="order-options">
            
              <div class="accordion-item">
            <h3 class="fw-normal my-4 text-center ">Total price</h3>
              <h4 class="fw-normal my-4 text-center text-accent"><span>₹</span><span id="subtotal"><%=productDatas.price %></span><span>/-</span></h4>
              <p style="font-size: 13px; " ><scan class="text-danger"> Note:</scan> If you want to apply the coupon code. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Try to purchase from the cart</p>
              </div>
            </div>
          </div>
        </div>
    </aside>
    <section class="col-lg-8">

      <div class="d-flex justify-content-center justify-content-sm-between align-items-end pt-2 pb-4 pb-sm-5">
        <div class="d-flex">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="/shop">Shop</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <section class="col-lg-12 ">
            
            <div class="container mt-3 mb-2">
                     
            <div>
              <div class="d-sm-flex justify-content-between align-items-center border-bottom">
                  <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
                    <div class="fs-sm"><img src="images/<%=productDatas.image[0]%>" width="200px"></div>
                    <div class="pt-2">
                      <div >
                            

                    </div>
                      <h3 class="product-title fs-base mb-1"><a href=""><%=productDatas.product %> </a></h3>
                      <div class="fs-sm"><span class="text-muted me-2"><%=productDatas.category.categoryname %></div>
                      <div class="fs-sm"><span class=" me-2">Qty : <%=addressDatas.singlequantity %></div>
                      <div class="fs-lg text-accent pt-1">Price : ₹<%=productDatas.price %><small>/-</small> </div> 
                    </div>
                  </div>
              </div>
          </div>
        
      
      <form  method="post" id="submitForm" class="needs-validation row g-4" novalidate>
              <h6 class="mb-3 py-3 border-bottom"><i class="ci-location "></i>Delivery Address</h6>
            
            <%=productData._id %>
            <%addressDatas.address.forEach((addressDatas)=> {%>
              <div class=" border-bottom">
              <div class="d-flex justify-content-center">
                <a class="btn bg-faded-danger btn-icon"  onclick="deleteItem('<%=addressDatas._id%>')"  data-bs-toggle="tooltip" title="Edit"><i class="ci-trash text-danger"></i></a>

              </div>
              <input type="radio" id="<%=addressDatas._id %>" onclick="setAddress('<%=addressDatas._id %>','<%=productDatas._id %>')" name="optionShipp" value="<%=addressDatas._id %>" >         
              <scan><%=addressDatas.name %></scan>
              <scan>-<%=addressDatas.phone %></scan></p>
              <p><%=addressDatas.houseName%>(H),</p>
              <p><%=addressDatas.city +',' +addressDatas.district+','+addressDatas.pin%>&nbsp;(pin)</p> 
            </div> 
              <%}); %>
            <!-- select shipping address-->
          
              <h6 class="mb-3 py-3 border-bottom"><i class="ci-location "></i>Shipping Address</h6>
              <div class="row gx-4 gy-3">
              
                <p>All Kerala delivery only/-</p>
                <div class="col-sm-12">
                  <label>Name</label>
                  <input class="form-control" type="text" name="deliveryname" id="deliveryname" required>
                  <div class="invalid-feedback">Please fill your name!</div>
                </div>
                <div class="col-sm-6">
                  <label>Pone number</label>
                  <input class="form-control" type="number" name="phone" id="phone" required>
                  <div class="invalid-feedback">Please fill your city!</div>
                </div>
                <div class="col-sm-6">
                  <label>House name/Building name</label>
                  <input class="form-control" type="text" name="houseName" id="house" required>
                  <div class="invalid-feedback">Please fill your house!</div>
                </div>
                <div class="col-sm-6">
                  <label>Pin</label>
                  <input class="form-control" type="number" name="pin" id="pin" required>
                  <div class="invalid-feedback">Please add your pin!</div>
                </div>
                <div class="col-sm-6">
                  <label>City</label>
                  <input class="form-control" type="text" name="city" id="city" required>
                  <div class="invalid-feedback">Please fill your city!</div>
                </div>
                <div class="col-sm-6">
                  <label>District</label>
                  <select class="form-select me-2" type="text" name="distrit" id="distrit" required>
                    <option value="">Select District</option>
                    <option value="Alappuzha">Alappuzha</option>
                    <option value="Ernakulam">Ernakulam</option>
                    <option value="Idukki">Idukki</option>
                    <option value="Kannur">Kannur</option>
                    <option value="Kasaragod">Kasaragod</option>
                    <option value="Kollam">Kollam</option>
                    <option value="Kottayam">Kottayam</option>
                    <option value="Kozhikode">Kozhikode</option>
                    <option value="Malappuram">Malappuram</option>
                    <option value="Palakkad">Palakkad</option>
                    <option value="Pathanamthitta">Pathanamthitta</option>
                    <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                    <option value="Thrissur">Thrissur</option>
                    <option value="Wayanad">Wayanad</option>
                  </select>
                </div>
                <input type="text" hidden name="idd" value="<%=productId %>">
                <div class="d-flex justify-content-end ">
                </div>
      

            <!-- products in cart-->

            
            
          </div>
  

              <!-- payment methods -->

              <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Payment Methods</h2>
              <div class="d-flex justify-content-between mb-3" style=" width: 14.5rem;">
                <!-- cash on delivery -->
                <div class="form-check">
                  <label for="payment"  >
                    Cash on delivery
                    <input type="radio" id="payment" name="payment" value="COD" >
                    <span class="checkmark"></span>
                  </label>
                </div>
                
              </div>

              <button  class="btn btn-success d-block w-100 mt-4"><i class=" fs-lg me-2"></i>Place order</button>
          </form>
  </div>

</section>

</div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


        <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/simplebar/dist/simplebar.min.js"></script>
        <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
        <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
        <script src="js/theme.min.js"></script>
  
<script>
  function deleteItem(id) {
    console.log(id);
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        axios.post(`/Addressdelete/${id}`).then((result) => {
          if (result.data) {
            Swal.fire(
              "Deleted!",
              "Your file has been deleted.",
              "success"
            ).then(() => {
              location.reload()

            });
          } else {
            alert("wrong!");
          }
        });
      }
    });
  }
</script>
  <script>

    // to set address
    const setAddress = function(id,proId) {
                                $.ajax({
                                    url: '/setAddress',
                                    method: 'post',
                                    dataType: 'json',
                                    data: {
                                        id: id,
                                        proId:proId
                                    }
                                }).done(data => {                               
                                  $("#deliveryname").val(data.name);
                                  $("#phone").val(data.phone);
                                  $("#house").val(data.houseName);
                                  $("#pin").val(data.pin);
                                  $("#city").val(data.city);
                                  $("#distrit").val(data.distrit);
                              })
                              Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Shipping address selected',
                              showConfirmButton: false,
                              timer: 1500
                            })

                            };


  
    // to place order
    $('#submitForm').submit((el)=>{
    el.preventDefault()
    $.ajax({
        url:"/singleCheckout",
        method:'post',
        data:$('#submitForm').serialize(),
  
        success:(response)=>{

          if(response.COD){
            location.href="/codsuccess";
          }
        }
    }).then((data)=>{
 
 
    })
  }
)


  </script>
  
<%- include('../user/layouts/footer.ejs') %>
<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">
    <a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#shop-sidebar"><span class="handheld-toolbar-icon"><i class="ci-filter-alt"></i></span><span class="handheld-toolbar-label">Total</span></a>
    <a class="d-table-cell handheld-toolbar-item" href="/wishlist"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a>
    <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a>
    <a class="d-table-cell handheld-toolbar-item" href="/cart"><span class="handheld-toolbar-icon"><i class="ci-cart"></i></span><span class="handheld-toolbar-label">Cart</span></a></div>

</div>        