<%-include("../user/layouts/header.ejs")%>
<%-include("../user/layouts/personal-header.ejs")%>

                <!-- Content  -->
                <section class="col-lg-8">
                    <!-- Profile form-->
                        <div class="bg-light rounded-3 p-4 ">
                          <center><h5 style="color: rgb(120, 20, 11);">Wallet</h5></center><br>
                        <div class="row pb-3">
                            <div class="d-flex justify-content-end ">
                            <a  data-toggle="modal" class="btn btn-warning btn-sm"  style="width: 130px;height: 30px; font-size: 12px;" data-target="#exampleModal">WALLET BALANCE</a>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <% if (userDatas.wallet==0) {%>
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title " id="exampleModalLabel">Your Wallet</h5>
                                        <button type="button" class="ci ci-lg-circle btn bg-faded-danger btn-icon" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Now your Wallet balance is : Rs.<scan style="color:red"><%=userDatas.wallet%></scan>/-
                                      </div>
                                      
                                    </div>
                                  <%} else {%>
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title " id="exampleModalLabel">Your Wallet</h5>
                                        <button type="button" class="ci ci-lg-circle btn bg-faded-danger btn-icon" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Now your Wallet balance is : Rs.<scan style="color:red"><%=userDatas.wallet%></scan>/-
                                      </div>
                                      <div class="modal-footer">
                                      <a href="/shop" class="btn btn-success btn-sm"  style="width: 130px;height: 30px; font-size: 10px;" >PURCHASE PRODUCT</a>
                                      </div>
                                    </div>
                                  <%} %>
                                  
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover mb-0 table-responsive" id="order">
                            <thead>
                              <tr>
                                <th  style="font-size:small;">SI.No:</th>
                                <th  style="font-size:small;">Order ID</th>
                                <th  style="font-size:small;">Date Purchased</th>
                                <th  style="font-size:small;">Status</th>
                                <th  style="font-size:small;">Amount</th>
                                <th  style="font-size:small;">Payment Method</th>
                                <th  style="font-size:small;">Detailes</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <% orderData.forEach((orderData,i )=> {%>
                                
                                <tr>
                                    <td>    
                                      <%=i+1%>
                                    </td>                                    
                                  <td class="py-3"><a class="nav-link-style fw-medium fs-sm" href="#order-details" data-bs-toggle="modal"><%=orderData._id%></a></td>
                                  <td class="py-3"><%=orderData.date.toLocaleString()%></td>
                                  <td class="py-3">
                                  <%if (orderData.status=="ordered") {%>
                                    <span class="badge bg-info m-0">In Progress</span>
                                  <%}else if(orderData.status=="Delivered") {%>
                                    <span class="badge bg-success m-0">Delivered</span>
                                  <%}else if(orderData.status=="cancel") {%>
                                    <span class="badge bg-warning m-0">Canceled</span>
                                  <%}else if(orderData.status=="Return processing") {%>
                                    <span class="badge bg-primary m-0">Return processing</span>
                                  <%}else if(orderData.status=="returned") {%>
                                    <span class="badge bg-primary m-0">Returned</span>
                                  <% } %>
                                  </td>
                                  <td class="py-3"><%=orderData.totalprice%></td>
                                  <td class="py-3"><%=orderData.paymentMethod%></td>
                                  <td class="py-3"><a type="button" href="/orderedProducts?id=<%=orderData._id %>" class="btn btn-success btn-sm d-flex align-items-center justify-content-center " style="width: 50px;height: 25px; font-size: 10px; cursor: pointer;">View</a></td>

                                </tr>

                              <%}); %>
                            </tbody>
                             
                      
                        </table>
                    </div>
                </section>
            </div>
        </div>
        </main>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script>
  // table script
  $(document).ready(function () {
    $('#order').DataTable({
      pagingType: 'full_numbers',
    });
  });
</script>
<%-include("../user/layouts/footer.ejs")%>